#node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.env
pids
logs
results
npm-debug.log
node_modules

#Linux
.*
!.gitignore
*~

#OSX
.DS_Store
.AppleDouble
.LSOverride
#Icon
._*
.Spotlight-V100
.Trashes
.DS_file
.DS_info
DS_Store

data/required/.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
